<div class="form-floating mb-3">
    <input type="text" class="form-control" name="clients" value="{{record.clients}}" readonly>
    <label for="first_name" class="form-label">Client</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="respondent_name" value="{{record.respondent_name}}" readonly>
    <label for="first_name" class="form-label">Respondent Name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="client_role" value="{{record.client_role}}" readonly>
    <label for="first_name" class="form-label">Client Role</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="respondent_advocate" value="{{record.respondent_advocate}}" readonly>
    <label for="first_name" class="form-label">Respondent Advocate</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="case_no" value="{{record.case_no}}" readonly>
    <label for="first_name" class="form-label">Case No</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="case_type" value="{{record.case_type}}" readonly>
    <label for="first_name" class="form-label">Respondent Name</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="sense_of_urgent" value="{{record.sense_of_urgent}}" readonly>
    <label for="first_name" class="form-label">Level Of Urgency</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="stage_of_case" value="{{record.stage_of_case}}" readonly>
    <label for="first_name" class="form-label">Stage of Case</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="court_no" value="{{record.court_no}}" readonly>
    <label for="first_name" class="form-label">Court No</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="court_type" value="{{record.court_type}}" readonly>
    <label for="first_name" class="form-label">Court Type</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" name="judge_name" value="{{record.judge_name}}" readonly>
    <label for="first_name" class="form-label">Judge Name</label>
</div>
<div class="form-floating">
    <textarea class="form-control" id="floatingTextarea" style="height: 150px;" name="case_description" disabled>{{record.court_remark}}</textarea>
    <label for="floatingTextarea">Remarks</label>
</div>