{% extends "navigation/base.html" %}
{% block content %}
{% load static %}

<form method="post" action="">
    {% csrf_token %}
    
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Add Invoice</h4>
        </div>
        <div class="columns is-centered">
            <div class="form-floating mb-3">
                <select class="form-select" id="case" name="case" required>
                        {% for option in form.case %}
                            <option value="{{ option.id }}">{{ option }}</option>
                        {% endfor %}
                    
                </select>
                <label for="floatingSelect">Case</label>
            </div>
        
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="short_descriptions" name="short_descriptions">
                <label for="identity" class="form-label">Short Description</label>
            </div>
        </div>
      
    </div>


    <div class="card-header card-header-secondary">
        <h4 class="card-title">Professional Services</h4>
    </div>
   
        <table class="table is-fullwidth is-bordered is-hoverable is-striped" id="services-table">
            <tbody>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Amount</th>
                        <th>ADD</th>
                    </tr>
                    {{ prof_service_form.management_form }}
                    {% for formss in prof_service_form %}
                    <tr>
                        <td>{{formss.prof_service}}</td>
                        <td>{{formss.prof_service_price}}</td>
                        <td>
                            <div class="input-group-append">
                                <button 
                                    class="button is-small btn btn-success add-form-row" id="add_more">+</button>&nbsp;
                                <button class="button is-small btn btn-warning remove-form-row">-</button>
                                <!-- <input class="btn btn-outline-warning add-form-row" style="margin: 0 1em 0 1em; width: 40%"
                                type="button" value="Add Line" id="add_more">&nbsp; -->
                            </div>
                        </td>
                    </tr>
            {% endfor %}
        </table>

    <div class="row spacer">
        <div class="col-4 offset-2">
            <button type="submit" class="button btn btn-block is-info is-half">Create</button>
        </div>
    </div>
 
        <!-- <div class="mb-3 d-flex justify-content-center">
            <input class="btn btn-outline-warning add-form-row" style="margin: 0 1em 0 1em; width: 40%"
                type="button" value="Add Line" id="add_more">
            <input class="btn btn-outline-success" style="margin: 0 1em 0 1em; width: 40%" type="submit"
                name="create-invoice">
        </div> -->
    
</form>

<script>
 function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

// function cloneMore(selector, prefix) {
//         var newElement = $(selector).clone(true);
//         console.log(newElement);
//         var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
//         newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
//             var name = $(this).attr('name')
//             if (name) {
//                 name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
//                 var id = 'id_' + name;
//                 $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
//             }
//         });
//         newElement.find('label').each(function () {
//             var forValue = $(this).attr('for');
//             if (forValue) {
//                 forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
//                 $(this).attr({ 'for': forValue });
//             }
//         });
//         total++;
//         $('#id_' + prefix + '-TOTAL_FORMS').val(total);
//         $(selector).after(newElement);
//         // $("div.form-row.button.is-primary").not(":last").hide();
//         // var conditionRow = $('.form-row:not(:last)');
//         // conditionRow.find('.button.is-primary')
//         // .hide();
//         // .removeClass('btn-success').addClass('btn-danger')
//         // .removeClass('add-form-row').addClass('remove-form-row')
//         // .html('-');
//         return false;
//     }
function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
        });
        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    // $(document).on('click', '.add-form-row', function (e) {
    //     e.preventDefault();
    //     cloneMore('table tr:last', 'form');
    //     return false;
    // });
    $('#add_more').click(function () {
        cloneMore('div.table:last', 'form');
    });
    $(document).on('click', '.remove-form-row', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>
{% endblock %}