{% extends "navigation/base.html" %}
{% block content %}
{% load static %}

            <div class="container-fluid pt-4 px-4">
                {% for msg in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Hey! </strong>{{msg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <h2>Update Data</h2>
                <div class="card" id='client-status'>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="created_by" value="{{ request.user.id }}">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{record.first_name}}" required>
                            <label for="first_name" class="form-label">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{record.last_name}}" required>
                            <label for="last_name" class="form-label">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="gender" name="gender" required>
                                    <option value="male" {% if record.gender|lower == "male" %}selected="selected"{% endif %}>Male</option>
                                    <option value="female" {% if record.gender|lower == "female" %} selected="selected"{% endif %}>Female</option>
                                </select>
                            <label for="floatingSelect">Gender</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="date_of_birth" class="form-control" type="date" name="date_of_birth" value="{% if record.date_of_birth %}{{ record.date_of_birth|date:'Y-m-d' }}{% endif %}" />
                            <label for="date_of_birth">Date of Birth:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="phone" type="tel" class="form-control" name="phone_number" value="{{record.phone_number}}" required>
                            <p id="output">Please enter a valid number below</p>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="email" value="{{record.email}}" aria-describedby="emailHelp">
                            <label for="email" class="form-label">Email address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address1" name="address1" value="{{record.address1}}" required>
                            <label for="address1" class="form-label" required>Address 1</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address2" name="address2" value="{{record.address2}}">
                            <label for="address2" class="form-label">Address 2</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="customerCity" name="city" value="{{record.city}}">
                            <label for="city" class="form-label">City</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="customerPostcode" name="postcode" value="{{record.postcode}}" onkeyup="autocompleteState(this.value)">
                            <label for="customerPostcode" class="form-label">Postcode</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="customerState" name="state" value="{{record.state}}">
                            <label for="customerState" class="form-label">State/Province</label>
                        </div>
                        <!-- {%include "navigation/country_detail.html"%} -->
                        <div class="form-floating mb-3">
                            <input type="text" n name="country" class="form-select" id="customerCountry" name="country" value="{{record.country}}" required>
                            <label for="country" class="form-label">Country</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="emergency_contact_full_name" class="form-control" id="emergency_contact_full_name" value="{{record.emergency_contact_full_name}}" required>
                            <label for="ECFullname" class="form-label">Full Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="customerRelationship" name="emergency_contact_relationship" required>
                                <option value="parent" {% if record.emergency_contact_relationship|lower == "parent" %}selected="selected"{% endif %}>Parent</option>
                                <option value="spouse" {% if record.emergency_contact_relationship|lower == "spouse" %}selected="selected"{% endif %}>Spouse</option>
                                <option value="sibling" {% if record.emergency_contact_relationship|lower == "sibling" %}selected="selected"{% endif %}>Sibling</option>
                                <option value="friend" {% if record.emergency_contact_relationship|lower == "custfriend" %}selected="selected"{% endif %}>Friend</option>
                                <option value="other" {% if record.emergency_contact_relationship|lower == "other" %}selected="selected"{% endif %}>Other</option>
                            </select>


                            </select>
                            <label for="floatingSelect">Relationship</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="ecphone" type="tel" class="form-control" name="emergency_contact_phone_number" value="{{record.emergency_contact_phone_number}}" required>
                            <p id="output1">Please enter a valid number below</p>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="emergency_contact_email" id="customerECEmail" value="{{record.emergency_contact_email}}" aria-describedby="emailHelp">
                            <label for="customerEmergencyEmail" class="form-label">Email address</label>

                        </div>
                        <input type="submit" class="btn btn-success" value="Update">
                        <!-- <a type="submit" class="btn btn-success">Update</a> -->
                        <!-- <a href="#" class="btn btn-danger" id="confirmDeleteButton">Delete</a> -->
                        <button type="button" class="btn btn-danger delete-button" data-record-id="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                        Delete</button>
                    </form>

                </div>
            </div>
        </div>
        {% include "navigation/footer.html" %}
    </div>
    <!-- Content End -->

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger" id="confirmDeleteButton">Delete</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    <!-- <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script> -->

    <script>
        const validatePhoneNumber = (inputId, outputId) => {
            const input = document.querySelector(`#${inputId}`);
            const output = document.querySelector(`#${outputId}`);

            const iti = window.intlTelInput(input, {
                nationalMode: true,
                initialCountry: "MY",
                utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
            });

            const handleChange = () => {
                let text;
                if (input.value) {
                    text = iti.isValidNumber() ?
                        "Valid number! Full international format: " + iti.getNumber() :
                        "Invalid number - please try again";
                } else {
                    text = "Please enter a valid number below";
                }
                const textNode = document.createTextNode(text);
                output.innerHTML = "";
                output.appendChild(textNode);
            };

            input.addEventListener('change', handleChange);
            input.addEventListener('keyup', handleChange);
        };

        // Call the function for each phone number input and output pair
        validatePhoneNumber("phone", "output");
        validatePhoneNumber("ecphone", "output1");
    </script>

    <script>
        function autocompleteState(postcode) {
            fetch('{% static "postcode1.csv" %}')
                .then(response => response.text())
                .then(csvData => {
                    const lines = csvData.split('\n');
                    const countrySelect = document.getElementById('customerCountry');
                    let malaysiaFound = false;

                    for (const line of lines) {
                        const [city, csvPostcode, state] = line.split(',');

                        if (csvPostcode === postcode) {
                            malaysiaFound = true;

                            document.getElementById('customerState').value = state;
                            document.getElementById('customerCity').value = city;
                            break;
                        }
                    }

                    if (malaysiaFound) {
                        for (let j = 0; j < countrySelect.options.length; j++) {
                            if (countrySelect.options[j].text === 'Malaysia') {
                                countrySelect.selectedIndex = j;
                                break;
                            }
                        }
                    } else {
                        document.getElementById('customerCountry').selectedIndex = 0;
                    }
                })
                .catch(error => {
                    console.error('Error fetching CSV data:', error);
                });
        }
    </script>

    <script>
        $(document).ready(function() {
            $(".delete-button").on("click", function() {
                // Get the record ID from the button's data attribute
                var recordId = $(this).data("record-id");

                // Set the "Delete" button's href attribute to include the record ID
                var deleteButton = $("#confirmDeleteButton");
                var deleteUrl = "{% url 'delete_client' pk=0 %}".replace('0', recordId);
                deleteButton.attr("href", deleteUrl);
            });
        });
    </script>
{%endblock%}