<div class="modal-body">
    <!-- <input type="hidden" name="created_by" value="{{ request.user }}"> -->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="client_role" name="client_role" required>
        <label for="client_role" class="form-label">Client Role</label>
    </div>

    <div class="form-floating">
        <textarea class="form-control" name="client_role_description" id="floatingTextarea" style="height: 150px;"></textarea>
        <label for="floatingTextarea">Comments</label>
    </div>

</div>