<div class="modal-body">
    <!-- <input type="hidden" name="created_by" value="{{ request.user }}"> -->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="casetype" name="case_type">
        <label for="casetype" class="form-label">Case Type</label>
    </div>

    <div class="form-floating">
        <textarea class="form-control" name="case_description" id="floatingTextarea" style="height: 150px;"></textarea>
        <label for="floatingTextarea">Comments</label>
    </div>

</div>