{% load static %}
<!-- Spinner Start -->
<!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->
<!-- Spinner End -->


<!-- Sidebar Start -->





<aside class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{% url 'dashboard' username=request.user.username %}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'images/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{request.user.username}}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'dashboard' username=request.user.username %}" class="nav-item nav-link {% if 'dashboard' in request.path %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if 'view_all_client' in request.path or 'add_client_view' in request.path %}active{% endif %}" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Client
                </a>
                <div class="dropdown-menu bg-transparent border-0 {% if 'add_client_view' in request.path or 'view_all_client' in request.path %}show{% endif %}">
                    <a href="{% url 'add_client_view' username=request.user.username%}" class="dropdown-item {% if 'add_client_view' in request.path %}active{% endif %}">Add Client</a>
                    <a href="{% url 'view_all_client' username=request.user.username%}" class="dropdown-item {% if 'view_all_client' in request.path %}active{% endif %}">View Client</a>
                </div>
            </div>

            <a href="{% url 'list_case' username=request.user.username %}" class="nav-item nav-link {% if 'list_case' in request.path %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Cases
            </a>

            <a href="{% url 'view_invoice' username=request.user.username %}" class="nav-item nav-link {% if 'view_invoice' in request.path %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Invoice
            </a>


            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if 'case_type' in request.path or 'court_type' in request.path or 'balance_sheet' in request.path %}active show{% endif %}" data-bs-toggle="dropdown">
                    <i class="fa fa-cogs me-2"></i>Setting
                </a>
                <div class="dropdown-menu bg-transparent border-0 {% if 'case_type' in request.path or 'court_type' in request.path or 'balance_sheet' in request.path%}show{% endif %}">
                    <a href="{% url 'case_type' username=request.user.username %}" class="dropdown-item {% if 'case_type' in request.path %}active{% endif %}">Case Type</a>
                    <a href="{% url 'court_type' username=request.user.username %}" class="dropdown-item {% if 'court_type' in request.path %}active{% endif %}">Court Type</a>
                    <a href="{% url 'balance_sheet' username=request.user.username %}" class="dropdown-item {% if 'balance_sheet' in request.path %}active{% endif %}">Balance Sheet</a>
                </div>
            </div>

            <a href="#" class="nav-item nav-link {% if '#' in request.path %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Message
            </a>




        </div>

    </nav>
</aside>